/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Root */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'poppins', sans-serif;
}

/* Body of Page Style */


body {
    background: transparent;
    font-family: 'Poppins';
}

/* Navbar */

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: white;
    border-bottom: 0.2rem;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    list-style: none;
    z-index: 300;
}

/* Logo */

#logo {
    margin-right: auto;
    padding-left: 30px;
    font-family: 'poppins';
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
    z-index: 300;
}

/* Navbar Project Page Link */

.items {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding-right: 30px;
    margin-left: 30px;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    transition: 0.6s ease;
    z-index: 300;
}

.items a {
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
}

.items a:hover {
    color: rgb(74, 74, 74);
    text-decoration: none;
    padding: 2rem;
    font-family: 'poppins';
    font-weight: bold;
    align-items: center;
    transition: 0.6s ease;
}

h1 {
    position: relative;
    font-family: 'poppins';
    font-size: 8rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 378px;
    left: 486px;
    object-fit: scale-down;
    z-index: 203;
}

/* Section One */

.box-two {
    position: relative;
    background-color: transparent;
    height: 550px;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow: hidden;
}

/* Sun Image */

.circle {
    position: absolute;
    width: 80px;
    height: 80px;
    margin: -75px;
    background: red;
    top: 35%;
    left: 50%;
    border-radius: 50%;
    
}
  
#sun {
    background: #ffffe2;
    box-shadow: 0 0 51700px #ffea00;
    fill-opacity: 1;
    z-index: 200;
}

/* Mountains Image */
  
.mountains {
    width: 100%;
    height: 864px;
    object-fit: cover;
    position: relative;
    z-index: 199;
    overflow-x: hidden;
    overflow: hidden;
}

.man {
    position: absolute;
    overflow-x: hidden;
    object-fit: cover;
    z-index: 202;
    top: 300px;
    height: 400px;
    width:  300px;
}


/* Moving Clouds image */

.moving-clouds {
    position: relative;
    overflow-x: hidden;
    top: -800px;
    margin-left: -600px;
    z-index: 201;
    animation: moveClouds 15s linear infinite;
}

/* Section Two - About me & certifications */

.box-three {
    background-color: white;
    height: 500px;
    margin-left: 0;
    padding-bottom: 54px;
    margin-bottom: 0;
  }
 
h2 {
    font-family: 'poppins';
    font-weight: bolder;
    font-size: 1.3rem;
    color: black;
    padding-left: 90px;
    padding-top: 54px;

  }
  
.aboutme1 {
    padding-top: 21px;
    padding-left: 90px;
    padding-right: 5px;
    color: black;
    margin-right: 100px;
  }

.aboutme2 {
    padding-top: 21px;
    padding-left: 90px;
    padding-right: 5px;
    color: black;
    margin-right: 90px;
  }
    
.educationtitle {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    padding-left: 90px;
    padding-top: 30px;
}
  
.educationtext1 {
    padding-top: 21px;
    padding-left: 90px;
    padding-right: 5px;
    padding-bottom: 54px;
    color: black;
}
  
.educationtext2 {
    padding-top: 21px;
    padding-left: 90px;
    padding-right: 5px;
    margin-bottom: 50px;
    color: black;
}

.box-four {
    position: relative;
    background-color: #f6f6f6;
    height: 450px; 
}


.title3 {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    padding-left: 90px;
    padding-right: 30vw;
    padding-top: 60px;
}

.jsicon {
    height: 35px;
    width: 35px;
}

.pythonicon {
    height: 35px;
    width: 35px;
    margin-left: 88px
}

.htmlicon {
    height: 35px;
    width: 35px;
}

.cssicon {
    height: 35px;
    width: 35px;
}

.reacticon {
    height: 35px;
    width: 35px;
}

.languagesandtoolstext {
    font-family: 'poppins';
    color: black;
    padding-top: 21px;
    padding-left: 90px;
    margin-right: 100px;
}


/* Footer */
  
.footer {
    position: absolute;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: black;
    font-family: 'poppins';
    font-size: 1rem;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 90px;
    margin-top: 90px;
    bottom: 0;
}

/* Moving Clouds Animation */

@keyframes moveClouds {
    0% { left: 0px; }
    100% { left: 70px; }
}

/* 2000px - MAX-WIDTH - DESKTOP & LAPTOPS */

@media only screen and (max-width: 2000px) {
    h1 {
      font-size: 8rem;
 } 
}

/* 1024px - MAX-WIDTH - DESKTOP & LAPTOPS */

@media only screen and (max-width: 1024px) {
    h1 {
      font-size: 6rem;
      top: 430px;
      left: 340px;
      z-index: 299;
 } 
}

/* 922px - MAX-WIDTH - DESKTOP & LAPTOPS */

@media only screen and (max-width: 992px) {
    h1 {
      font-size: 6rem;
      top: 433px;
      left: 250px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 992px) {
    .box-three {
      height: 500px;
 } 
}

@media only screen and (max-width: 992px) {
    .box-four {
      height: 500px;
 } 
}

/* 768px - MAX-WIDTH - LANDSCAPE TABLETS */

@media only screen and (max-width: 768px) {
    h1 {
      font-size: 5rem;
      top: 448px;
      left: 220px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 768px) {
    .box-three {
      height: 550px;
 } 
}


/* 600px - MIN-WIDTH PORTRAIT TABLETS AND LARGE PHONES */

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 4.5rem;
      top: 460px;
      left: 110px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 600px) {
    .box-three {
      height: 600px;
 } 
}


/* 385px - MAX-WIDTH - MOBILE  */

@media only screen and (max-width: 385px) {
    .box-three {
      height: 950px;
 } 
}

@media only screen and (max-width: 385px) {
    .box-four {
      height: 750px;
 } 
}

@media only screen and (max-width: 385px) {
    h1 {
      font-size: 3.5rem;
      top: 480px;
      left: 20px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 385px) {
    .educationtext1 {
      padding-right: 60px;
 } 
}

@media only screen and (max-width: 385px) {
    .footer {
      position: absolute;
      margin-top: 100px;
      bottom: 0;
 } 
}

/* MOBILE - MIN-WIDTH 360px */

@media only screen and (max-width: 360px) {
    #logo {
      font-size: 1.4rem;
 } 
}

@media only screen and (max-width: 360px) {
    .items {
      font-size: 1.3rem;
 } 
}

@media only screen and (max-width: 360px) {
    h1 {
      font-size: 2.8rem;
      top: 491px;
      left: 60px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 360px) {
    h2 {
      font-size: 1.2rem;
      padding-left: 30px;
      padding-right: 20px;
 } 
}

@media only screen and (max-width: 360px) {
    .aboutme1 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 360px) {
    .aboutme2 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 360px) {
    .educationtitle {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 360px) {
    .educationtext1 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 360px) {
    .title3 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 360px) {
    .languagesandtoolstext {
      padding-left: 30px;
 } 
}


@media only screen and (max-width: 360px) {
    .pythonicon {
      margin-left: 30px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 360px) {
    .footer {
      padding-left: 30px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 360px) {
    .box-three {
      height: 1000px;
 } 
}

@media only screen and (max-width: 360px) {
    .box-four {
      height: 650px;
 } 
}  



/* MOBILE - MIN-WIDTH 361px */

@media only screen and (max-width: 361px) {
    #logo {
      font-size: 1.4rem;
 } 
}

@media only screen and (max-width: 361px) {
    .items {
      font-size: 1.2rem;
 } 
}

@media only screen and (max-width: 361px) {
    h1 {
      font-size: 2.8rem;
      top: 491px;
      left: 60px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 361px) {
    h2 {
      font-size: 1.2rem;
      padding-left: 30px;
      padding-right: 20px;
 } 
}

@media only screen and (max-width: 361px) {
    .aboutme1 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 361px) {
    .aboutme2 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 361px) {
    .educationtitle {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 361px) {
    .educationtext1 {
      padding-left: 35px;
 } 
}

@media only screen and (max-width: 361px) {
    .title3 {
      padding-left: 30px;
 } 
}

@media only screen and (max-width: 361px) {
    .languagesandtoolstext {
      padding-left: 30px;
 } 
}


@media only screen and (max-width: 361px) {
    .pythonicon {
      margin-left: 30px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 361px) {
    .footer {
      padding-left: 30px;
      padding-right: 0px;
 } 
}



@media only screen and (max-width: 361px) {
    .box-three {
      height: 1000px;
 } 
}

@media only screen and (max-width: 361px) {
    .box-four {
      height: 650px;
 } 
}  

/* MOBILE - MIN-WIDTH 320px */

@media only screen and (max-width: 320px) {
    #logo {
      font-size: 1.2rem;
 } 
}

@media only screen and (max-width: 320px) {
    .items {
      font-size: 0.9rem;
 } 
}

@media only screen and (max-width: 320px) {
    h1 {
      font-size: 2.8rem;
      top: 491px;
      left: 20px;
      z-index: 299;
 } 
}

@media only screen and (max-width: 320px) {
    h2 {
      font-size: 1.2rem;
      padding-left: 40px;
 } 
}

@media only screen and (max-width: 320px) {
    .aboutme1 {
      padding-left: 40px;
      padding-right: 0;
 } 
}

@media only screen and (max-width: 320px) {
    .aboutme2 {
      padding-left: 40px;
      padding-right: 0;
 } 
}

@media only screen and (max-width: 320px) {
    .educationtitle {
      padding-left: 40px;
      padding-right: 0;
 } 
}

@media only screen and (max-width: 320px) {
    .educationtext1 {
      padding-left: 40px;
      padding-right: 20px;
 } 
}

@media only screen and (max-width: 320px) {
    .title3 {
      padding-left: 40px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 320px) {
    .languagesandtoolstext {
      padding-left: 40px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 320px) {
    .title3 {
      padding-left: 40px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 320px) {
    .title3 {
      padding-left: 40px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 320px) {
    .pythonicon {
      margin-left: 40px;
      padding-right: 0px;
 } 
}

@media only screen and (max-width: 320px) {
    .box-four {
      height: 750px;
 } 
}


@media only screen and (max-width: 320px) {
    .footer {
      padding-left: 40px;
      padding-right: 0px;
 } 
}


