/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Newsreader:wght@200&display=swap');

/* Root */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'poppins';
}

/* Body of Page Style */

body {
    background: white;
    font-family: 'Poppins';
}

/* Navbar */

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: white;
    border-bottom: 0.2rem;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    list-style: none;
    z-index: 300;
}

/* Logo */

#logo {
    margin-right: auto;
    padding-left: 30px;
    font-family: 'poppins';
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
}

/* Navbar Project Page Link */

.items {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding-right: 30px;
    margin-left: 30px;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    transition: 0.6s ease;
    z-index: 300;
}

.items a {
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    z-index: 300;
}

.items a:hover {
    color: rgb(74, 74, 74);
    text-decoration: none;
    padding: 2rem;
    font-family: 'poppins';
    font-weight: bold;
    align-items: center;
    transition: 0.6s ease;
    z-index: 300;
}

.box-two {
    position: relative;
    background-color: white;
    height: 12vh;
    align-items: center;
    text-align: center;
}

/* Rehnell Portfolio Heading */

h1 {
    position: absolute;
    font-family: 'poppins';
    font-size: 2em;
    font-weight: bold;
    color: black;
    padding-top: 30vh;
    padding-left: 10vw;
    margin-top: 0vh;
    z-index: 200;
}
    
.title2 {
  font-family: 'poppins';
  font-weight: bolder;
  align-items: center;
  font-size: 1.3em;
  color: black;
  padding-left: 10vw;
  padding-top: 10vw;
  top: 10vh;
}

.box-three {
    background-color: white;
    height: 117vh;
    margin-left: 0;
}

.calculatortext {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    padding-bottom: 3vh;
    color: clack;
}

.githubcalculator {
    margin-top: 5vh;
    padding-left: 10vw;
    color: black;
}

.calculatorimage {
    display: flex;
    position: relative;
    margin-top: 30px;
    height: 200px;
    width: 280px;
    min-height: 310px; /* Add this line to keep same height on smaller screens */
    min-width: 340px; /* Add this line to keep same height on smaller screens */
}
  
.calculatortitle {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1em;
    color: black;
    padding-left: 10vw;
    padding-top: 2vw;
    top: 4vh;
}

.calculatortext2 {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    color: black;
}

.educationtext2 {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
}

.box-four {
    position: relative;
    background-color: white;
    height: 117vh;
    margin-left: 0;
    width: 100%;
}

.title3 {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1.3em;
    color: black;
    padding-left: 10vw;
    padding-top: 10vw;
    top: 10vh;
}

.sandwichbartext {
    font-family: 'poppins';
    color: black;
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    padding-bottom: 3vh;
}

.githubsandwichbar {
    margin-top: 5vh;
    padding-left: 10vw;
    color: black;
}

.languagesandtoolstext2 {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1em;
    color: black;
    padding-left: 10vw;
    padding-top: 2vw;
    top: 4vh;
}

.sandwichbarlanguages {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    color: black;
}

.sandwichbarimage {
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-left: 10vw;
    height: 240px;
    width: 280px;
    min-height: 310px; /* Add this line to keep same height on smaller screens */
    min-width: 340px; /* Add this line to keep same height on smaller screens */
}

.title3 {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    size: 1.3em;
    color: black;
    padding-left: 10vw;
    padding-right: 30vw;
    padding-top: 10vw;
    top: 10vh;
}

.title4 {
    font-family: 'poppins';
    align-items: center;
    font-weight: bolder;
    padding-left: 10vw;
    padding-right: 30vw;
    padding-top: 10vw;
    top: 10vh;
    font-size: 1.3em;
    color: black;
}

.filmtext {
    font-family: 'poppins';
    color: black;
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    padding-bottom: 3vh;
}

.githubfilmbookingsystem{
    margin-top: 5vh;
    padding-left: 10vw;
    color: black;
}

.languagesandtoolstext3 {
    font-family: 'poppins';
    font-weight: bolder;
    align-items: center;
    font-size: 1em;
    color: black;
    padding-left: 10vw;
    padding-top: 2vw;
    top: 4vh;
}

.filmbookinglanguages {
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 35vw;
    color: black;
}


.box-five {
    position: relative;
    background-color: white;
    height: 117vh;
    width: 100%;
    padding-top: 5vh;
}

.filmbookingsystemimage {
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-left: 10vw;
    height: 270px;
    width: 300px;
    min-height: 310px; /* Add this line to keep same height on smaller screens */
    min-width: 340px; /* Add this line to keep same height on smaller screens */
}

/* footer */

.footer {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: black;
    font-family: 'poppins';
    font-size: 1em;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 90px;
    margin-top: 90px;
    bottom: 0;
}

/* MOBILE - MAX-WIDTH 385PX */

@media only screen and (max-width: 385px) {
    .title2 {
      padding-left: 60px;
    }
    .title3 {
      padding-left: 60px;
    }
    .title4 {
      padding-left: 60px;
    }
    .calculatortitle {
      padding-left: 60px;
    }
    .calculatortext {
      padding-left: 60px;
    }
    .calculatortext2 {
      padding-left: 60px;
    }
    
    .calculatorimage {
      padding-left: 70px;
      height: 60px;
      width: 120px;
    }
    
    .githubcalculator {
      padding-left: 60px;
    }
    
    .sandwichbartext {
      padding-left: 60px;

    .githubsandwichbar {
      padding-left: 60px;
    }
        
    .sandwichbarlanguages {
      padding-left: 60px;
        
    .languagesandtoolstext2 {
      padding-left: 60px;
}

