/* Google Fonts Import - Different font styles imported from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
  font-family: 'poppins';
}

/* Body of Page Style */
body {
  background-color: transparent;
  font-family: 'poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container */
.container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0; /* Ensures no extra space between elements */
}

/* Box 1 Section */
.box {
  width: 100%;
  font-size: 8em;
  margin: 0; /* Ensure no extra margin */
  height: 600px;
  z-index: 299;
}

#box1 {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: left;
  justify-content: flex-start;
  height: 700px;
  box-sizing: border-box;
  background-color: white;
}

.loginform_pic {
  height: 350px;
  width: 350px;
  padding: 40px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
}

/* Box 2 Section */
#box2 {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: left;
  height: 500px;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: white;
}

h1 {
  text-align: left;
  font-family: 'poppins';
  font-weight: bolder;
  font-size: 1.3rem;
  color: black;
  margin-top: 400px;
  padding-left: 110px;
}

.login_signup_form_text {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  padding: 20px;
  box-sizing: border-box;
}

.github_login_form {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
}

.inner-box {
   display: flex; /* Ensures the images stay in a row */
   justify-content: left; /* Centers images */
   flex-wrap: wrap; /* Allows wrapping if needed */
   gap: 10px; /* Adds spacing between icons */
   width: 600px, auto, fit-content;
   height: 50px, auto;
   background-color: transparent;
   padding: 30px;
   margin-top: 10px;
   align-items: center;
}

/* Box 3 Section */
#box3 {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: white;
}

.calculator_pic {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
}

/* Box 4 Section */
#box4 {
  height: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: white;
}

h2 {
  text-align: left;
  font-family: 'poppins';
  font-weight: bolder;
  font-size: 1.3rem;
  color: black;
  padding-left: 110px;
  padding-top: 54px;
}

.calculator_text {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  padding: 20px;
  box-sizing: border-box;
}

.github_calculator {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
}

.calculator_browser {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
}

/* Box 5 Section - Weather App Pic */
#box5 {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: white;
}

.WeatherApp_pic {
   height: 420px;
   width: 280px;
   border: 1px solid transparent;
   border-radius: 10px;

}

/* Box 6 Section - Weather App Title & Text */
#box6 {
  height: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: white;
}

h3 {
  text-align: left;
  font-family: 'poppins';
  font-weight: bolder;
  font-size: 1.3rem;
  color: black;
  padding-left: 110px;
  padding-top: 54px;
}

.WeatherApp_text {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  padding: 20px;
  box-sizing: border-box;
}

.github_WeatherApp {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
}

.WeatherApp_browser {
  font-size: 1rem;
  color: black;
  max-width: 100%; /* Prevents overflow */
  box-sizing: border-box;
  padding-top: 10px;
}

/* Box 7 Section - Sandwhich bar pic */
#box7 {
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 0; /* Remove any unwanted space */
  background-color: #ededed;
}

h4 {
  text-align: left;
  font-family: 'poppins';
  font-weight: normal;
  font-size: 1.3rem;
  color: black;
  padding-left: 40px;
  padding-top: 54px;
}

.contact_text {
  font-size: 1rem;
  color: black;
  max-width: 100%; 
  padding: 20px;
  box-sizing: border-box;
}

.inner-box {
   display: flex; /* Ensures the images stay in a row */
   justify-content: left; /* Centers images */
   flex-wrap: wrap; /* Allows wrapping if needed */
   gap: 10px; /* Adds spacing between icons */
   width: 600px, auto, fit-content;
   height: 50px, auto;
   background-color: transparent;
   padding: 30px;
   margin-top: 10px;
   align-items: center;
}

/* Fix navbar positioning */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  background-color: white;
  z-index: 300;
}

/* Ensure navbar takes up full width & responsive to all screen sizes */
.navbar {
  display: flex;
  align-items: center;
  height: 65px; /* Adjust if needed */
  padding: 0 30px;
  list-style: none;
  width: 100%;
}

/* Logo */
#logo {
    margin-right: auto;
    padding-left: 30px;
    font-family: 'poppins';
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: 0.6s;
    z-index: 300;
}

/* Navbar Project Page Link */
.items {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding-right: 30px;
    margin-left: 30px;
    font-family: 'poppins';
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    transition: 0.6s ease;
    z-index: 300;
}

.items a {
    color: black;
    text-decoration: none;
}

  /* Style the current/active link */
  .items a.active {
    color: black;
    background-color: transparent;
  }

/* Add a background color on mouse-over */
.items a:hover {
    background-color: transparent;
    color: rgb(74, 74, 74);
    text-decoration: none;
    padding: 2rem;
    transition: 0.6s ease;
  }


/* Box 2 Section */


/* Icon Language and Framework images */
  .jsicon {
    height: 35px;
    width: 35px;
}

.pythonicon {
    height: 35px;
    width: 35px;
}

.htmlicon {
    height: 35px;
    width: 35px;
}

.cssicon {
    height: 35px;
    width: 35px;
}

.reacticon {
    height: 35px;
    width: 35px;
}

.github_contact {
    height: 35px;
    width: 35px;
}

.linkedinlogo {
    height: 65px;
    width: 65px;
}

/* Footer */
.footer {
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: white;
    font-family: 'poppins';
    font-size: 0.9rem;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    bottom: fixed;
}

.footer_portfolio_text {
    margin-left: 30px;
    font-family: "poppins";
    color: black;
}

.github-icon {
  height: 30px;
  width: 30px;
  align-items: center;
}

/* MEDIA QUERIES - Ensuring portfolio page is responsive to all devices */

/* SCREEN SIZE - PC */

/* SCREEN SIZE - LAPTOP */

/* SCREEN SIZE - TABLET */


/* 385px SCREEN SIZE  - MOBILE */

/* Logo and Navigation */
@media only screen and (max-width: 385px) {
  #logo {
    font-size: 1.2rem;
} 
}

@media only screen and (max-width: 385px) {
  .items {
    font-size: 1rem;
} 
}

/* Box 1 - Login Form Pic */
@media only screen and (max-width: 385px) {
  #box1 {
    height: 400px;
    
}


@media only screen and (max-width: 385px) {
  .loginform_pic {
    height: 250px;
    width: 250px;
    margin-top: 150px;
    margin-left: 30px;
    
} 
}

/* Box 2 - Login Form Title and Text */
@media only screen and (max-width: 385px) {
  #box2 {
    height: 400px;
} 
}

@media only screen and (max-width: 385px) {
  h1 {
    margin-top: 70px;
    padding-left: 30px;
    font-size: 1.2rem;
} 
}

@media only screen and (max-width: 385px) {
  .login_signup_form_text {
    padding-left: 30px;
} 
}
  
/* Box 3 - Calculator Pic */
@media only screen and (max-width: 385px) {
  #box3 {
    height: 290px;
} 
}

@media only screen and (max-width: 385px) {
  .calculator_pic {
    height: 250px;
    width: 300px;
    margin-left: 15px;
} 
}


/* Box 4 - Calculator Title and Text */
@media only screen and (max-width: 385px) {
  #box4 {
    height: 400px;
} 
}

@media only screen and (max-width: 385px) {
  h2 {
    padding-left: 30px;
} 
}

@media only screen and (max-width: 385px) {
  .calculator_text {
    padding-left: 30px;
} 
}

@media only screen and (max-width: 385px) {
  .github_calculator {
    margin-top: 40px;
    padding-left: 0px;
}
}

@media only screen and (max-width: 385px) {
  .calculator_browser {
    margin-top: 40px; {
    padding-left: 30px;
    padding-top: 10px;
}
}

/* Box 5 - Weather App Picture */
@media only screen and (max-width: 385px) {
  #box5 {
    height: 440px;
} 
}

@media only screen and (max-width: 385px) {
  .WeatherApp_pic {
    margin-left: 15px;
} 
}

/* Box 6 - Weather App Title and Text */
@media only screen and (max-width: 385px) {
  #box6 {
    height: 450px;
} 
}

@media only screen and (max-width: 385px) {
  h3 {
    padding-left: 30px;
} 
}

@media only screen and (max-width: 385px) {
  .WeatherApp_text {
    padding-left: 30px;
} 
}

@media only screen and (max-width: 385px) {
  .github_WeatherApp {
     margin-top: 40px;
     padding-left: 0px;
}
}

@media only screen and (max-width: 385px) {
  .WeatherApp_browser {
    margin-top: 40px; {
    padding-left: 30px;
    padding-top: 10px;
}
}

/* Box 7 - Sandwich bar Picture */
@media only screen and (max-width: 385px) {
  #box7 {
    height: 395px;
} 
}

@media only screen and (max-width: 385px) {
  h4 {
    padding-left: 20px;
} 
}

@media only screen and (max-width: 385px) {
  .linkedinlogo {
    margin-top: 10px;
} 
}

/* Footer */
@media only screen and (max-width: 385px) {
  .footer {
    position: relative;
    bottom: 0;
} 
}

@media only screen and (max-width: 385px) {
  .footer_portfolio_text {
    padding-left: 30px;
    padding-right: 80px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
} 
}

@media only screen and (max-width: 385px) {
  .github-icon {
    height: 30px;
    width: 30px;
} 
}

/* 361px SCREEN SIZE - MOBILE */


/* Logo and Navigation */
@media only screen and (max-width: 361px) {
  #logo {
    font-size: 1.1rem;
} 
}

@media only screen and (max-width: 361px) {
  .items {
    font-size: 0.9rem;
} 
}

@media only screen and (max-width: 361px) {
  h2 {
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 20px;
} 
}


@media only screen and (max-width: 361px) {
  .footer {
    padding-left: 30px;
    padding-right: 0px;
} 
}


@media only screen and (max-width: 361px) {
  .box-three {
    height: 900px;
} 
}

@media only screen and (max-width: 361px) {
  .box-four {
    height: 650px;
} 
}  


/* 320px screen size - Mobile */
@media only screen and (max-width: 320px) {
  #logo {
    font-size: 1.2rem;
} 
}

@media only screen and (max-width: 320px) {
  .items {
    font-size: 0.9rem;
} 
}



@media only screen and (max-width: 385px) {
  .github_ {
    padding-left: 30px;
} 
}
  
@media only screen and (max-width: 320px) {
  h2 {
    font-size: 1.2rem;
    padding-left: 40px;
} 
}


@media only screen and (max-width: 320px) {
  .box-four {
    height: 750px;
} 
}


@media only screen and (max-width: 320px) {
  .footer {
    padding-left: 40px;
    padding-right: 0px;
} 
}

